/*** SITE WIDE VARIABLES ***/

// Colours
$color-brand--purple       : #7a19ff;
$color-brand--light-purple : #d0bdfe;
$color-brand--dark-purple  : #4f4289;
$color-brand--red          : #e81e79;
$color-brand--green        : #46f076;
$color-brand--lightest-blue: #bbfffe;
$color-brand--light-blue   : #9ef1f9;
$color-brand--blue         : #48e5f4;
$color-brand--dark-blue    : #2e354f;
$color-brand--twitter      : #1da1f2;
$color-brand--linkedin     : #0077b5;
$color-brand--facebook     : #3b5998;

// Shades
$color-shade--black        : #000000;
$color-shade--white        : #FFFFFF;
$color-shade--dark-grey    : #A4A2A8;
$color-shade--mid-grey     : #D0D0D0;
$color-shade--light-grey   : #eaeef1;
$color-shade--lightest-grey: #f4f4f4;

// Prompts
$color-prompt--error       : #F50000;
$color-prompt--success     : #00B9B0;

// Typography
$font-family--base         : 'FF Mark Pro', serif;
$font-family--heading      : 'FF Mark Pro', sans-serif;

// NB: Temporary; until we have production fonts
$font-family--thin         : 'FF Mark Pro Thin', serif;
$font-family--bold         : 'FF Mark Pro Bold', serif;

// NB: 'Base' varies depending on breakpoint. See html declaration within typography.scss
$font-size--gigantic       : 5.55rem; // 110px
$font-size--ultra-large    : 3.55rem; // 64px
$font-size--very-large     : 2.77rem; // 50px
$font-size--large          : 1.88rem; // 34px
$font-size--medium         : 1.33rem; // 24px
$font-size--base           : 1rem; // 18px
$font-size--small          : 0.88rem; // 16px
$font-size--very-small     : 0.77rem; // 14px
$font-size--tiny           : 0.66rem; // 12px
$font-size--smallest       : 0.55rem; // 10px

$font-weight--ultra-thin   : 100;
$font-weight--regular      : 400;
$font-weight--medium       : 500;
$font-weight--semi-bold    : 600;
$font-weight--bold         : 700;
$font-weight--black        : 900;

$line-height--header       : 1.3;
$line-height--base         : 1.6;

// Transition
$transition--fast            : 0.0125s;
$transition--default         : 0.25s;
$transition--slow            : 0.5s;

$transition-easing--default  : ease-out;

// Z-Index
$z-index--third    : 80;
$z-index--second   : 90;
$z-index--first    : 100;

// Breakpoints - adapt as required

// min-widths
$breakpoint--mobile--small      : 360px;
$breakpoint--mobile             : 480px;
$breakpoint--tablet--small      : 608px;
$breakpoint--tablet             : 768px;
$breakpoint--tablet--large      : 900px;
$breakpoint--desktop            : 1024px;
$breakpoint--desktop--large     : 1240px;

$breakpoint-max--mobile--small  : max-width 360px;
$breakpoint-max--mobile         : max-width 480px;
$breakpoint-max--tablet--small  : max-width 608px;
$breakpoint-max--tablet         : max-width 768px;
$breakpoint-max--tablet--large  : max-width 900px;
$breakpoint-max--desktop        : max-width 1024px;
$breakpoint-max--desktop--large : max-width 1240px;

// border
$border--regular--black         : 1px solid $color-shade--black;
$border--regular--white         : 1px solid $color-shade--white;
$border--regular--green         : 1px solid $color-brand--green;

// padding
$padding-vertical--regular      : 5em 0;

//header
$header-height                  : 4em;
$secondary-header-height        : 3em;
